TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=xxxxxxxxx.root
TIDB_PASSWORD=
TIDB_DATABASE=penguin_pay
ADMIN_PASSWORD=change-this-admin-password
ADMIN_SECRET=change-this-long-random-secret
